<div class="about">
  <h3>About PingPously</h3>

  <p>
  PingPously is a table tennis ladder that is used (a lot) by
  the staff at
  <%= link_to 'Restorando', 'https://www.restorando.com/' %>
  </p>

  <h5>Think this is cool?</h5>
  <ul>
    <li>
    <a href="https://engineering.restorando.com/">Come work with us</a>
    </li>

    <li>
    <a href="mailto:ayuda@restorando.com">Contact us</a>
    </li>

    <li>
    <a href="https://github.com/gromarion/Latter">Check out the source code on Github</a>
    </li>
  </ul>

  <h5>Have an account?</h5>
  <p class="clearfix"></p>
  <%= link_to 'Login in with Google!', player_omniauth_authorize_path(:google_oauth2), class: 'btn' %>
</div>
