

<div class="header clearfix">
<%= image_tag 'iso-small.png'%> <h3>Ranking</h3>
</div>

<div class="empty-state-players">
	<h3 class="alert-heading"><%= I18n.t('player.none.heading') %></h3>
	<p><%= I18n.t('player.none.message') %></p>
	<%= image_tag 'ranking-empty.png'%>
</div>
