<%= form_for @player do |form| %>
  <%= render :partial => 'form', :object => form %>
<% end %>


<%= content_for :sidebar do %>
  <div class="hide">
  <%= render :partial => 'profile', :locals => {:player => @player} %>
  </div>
<% end %>

