@import url("http://fonts.googleapis.com/css?family=Arvo");


/* colors */

$dark-violete: #3D385C;
$call-to-action: #F24F36;
$link-orange: #F1AB2E;

/* bootstrap overrides */

body {
    padding-top: 0;
    padding-bottom: 40px;
}
.label-info {
    background-color: $dark-violete;
}
.navbar-inner {
  background: $dark-violete !important;
  border-radius: 0;
  padding: 0 8px;
}
.link{
  color: $link-orange;
  padding: 0 5px;
  font-size: 14px;
}
.btn{
  background: $call-to-action;
  border: 0;
  text-shadow: none;
  color: #fff;
  
  &:hover{
      color:#fff;
      background:darken($call-to-action, 10%) !important;
  }

  &.login{ float: right;}
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.sidebar tbody {
    max-height: 230px !important;
    overflow: auto !important;
    display: block !important;
    border: 1px solid #ddd;
    margin-bottom: 240px;
    border-radius: 0 0 4px 4px;

    a{ color:$link-orange;}
  }
  .badge-table{
    img {
      width: 42px;
    }
  }

@media (max-width: 767px){
  body {
      padding: 0 0 40px;
  }
  .container-responsive-padding{
    padding: 0 3%;
  }
  .container-fixer{
    padding: 0 !important;
  }
  .nav.language-selector{
    display: none;
  }
  .sidebar .profile, 
  .sidebar .about{
    border: 0 !important;
    margin-bottom: 30px !important;
    box-shadow: none !important;
  }

}

.sidebar .profile {
  text-align: center;
}

/* own style */

h1, h2, h3, h4, h5 {
    margin: 0;
}

.header{
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 101px;
  margin-bottom: 30px;

  img{
    float: left;
    position: absolute;
    top: -12px;
    left: 30px;
    height: 61px;
  }
  h3{ float: left;}
}

.empty-state-players{
  margin: 0 auto;
  padding: 0 62px 0 12px;

  h3.alert-heading {
    font-size: 19px;
    margin: 0;
  }
  p {
    font-size: 12px;
    line-height: 17px;
  }

  img{
    margin: 40px auto;
    display: inherit;
    width: 340px;
  }
}
.container-fixer {
  padding: 0 20px;
  margin: auto;
  max-width: 900px;
  color: $dark-violete;
}

.login-box{
  padding: 4%;
  max-width: 600px;
  margin: auto;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  background-color: #eee;
  border: 0;
  height: 43px;
  box-shadow: none;

  &:focus {
    border: 1px solid $link-orange;
    background:lighten($link-orange, 40%);
    box-shadow: none;
  }
}

a.latter.brand {
  background: image-url('logo-chico.png') no-repeat;
  float: left;
  margin: 7px 0 5px;
  display: block;
  font-weight: bold;
  color: white;
  width: 133px;
  height: 10px;
  background-size: contain;
  text-indent: -99999px;
}

/*
.sidebar .profile,
.sidebar .about {
  color: #5D5B5B;
  padding: 5% 0;
}
*/
.sidebar .profile, 
.sidebar .about {
    color: #3D385C;
    border: 3px solid #fff;
    line-height: 1.4em;
    font-size: 0.8em;
    padding: 2% 8% 4%;
    background: lighten($dark-violete, 65%);
    box-shadow: 0 0 4px #eee;

    h3{
      font-size: 20px;
      border-bottom: 1px solid #d6d3e5;
      margin-bottom: 15px;
    }
}
.about {
  a {
    color: $link-orange;
    line-height: 150%;
    border-bottom: dotted 1px #FFDCAF;
    text-decoration: none;

    &:hover{
      background:lighten($link-orange, 30%);
    }
  }

  a.btn {
    color: #ffffff;
    margin: 3px auto;
    border-bottom: 0;
  }
}

.footer{
    background: #444444;
    padding: 4px;
    position: fixed;
    color: #eee;
    bottom: 0;

    .logo{
      margin: 0 14px;
      
      img{
        height: 55px;
        margin-top: -18px;
      }
    }
    
    .redo{
      height: 17px;
    }
    p{
      font-family: 'Arvo';
      font-size: 12px;
      opacity: 0.8;
      margin: 0;
    }
}


