// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* colors */

$dark-violete: #3D385C;
$call-to-action: #F24F36;
$link-orange: #F1AB2E;


.player_sign_in {
  max-width: 240px;
  margin: auto;
}

.player {
  margin-bottom: 2%;
  padding: 0;
  width: 98%;
  border-radius: 5px;
  position:relative;
  border-bottom: 1px solid #eee;

  h3 a{
    color: #444;
  }
  .level-box{
    max-width: 87px;
    color: #797979;
    text-align: center;

    label{
      font-size: 12px;
      text-align: center;
    }
  }
  .ranking_display {
    position: absolute;
    top: 0px;
    left: 0px;
    float: none;

    .ranking{
      text-align: center;
      display: inline;
      position: absolute;
      line-height: 28px;
      font-size: 16px;
      font-weight: 400;
      top: 0;
      height: 30px;
      text-align: center !important;
      width: 30px;
      left: 0;
      padding: 0;
      border-radius: 35px;
      background: $dark-violete;
    }
    .trend {
      color: white;
    }
  }

  .thumbnail {
      background: image-url('placeholder-avatar.png') no-repeat white;
      border-radius: 110px;
      overflow: hidden;
      width: 70px;
      height: 70px;
      background-position: 4px;
      background-size: 92%;

      img { 
        border-radius: 80px;
        height: 70px;
      }
  }

  .data_and_actions {
    position: relative;
  }
  .user-name-box{
    padding: 0 0 0 10px;

    .controls {
      margin-left: 0;

      .btn {
        i[class^="icon-"] {
          padding-right: 5px;
        }
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.profile {
  .thumbnail {
    box-shadow: none;
    border: none;
  }
  .controls{
    margin: 15px 0;
    text-align: center;
  }
  .user-name-box {
    padding: 0 0 0 10px;
    text-align: center;
  }
  .avatar-box,
  .level-box {
    margin: 15px auto 0;
    width: 84px;
    text-align: center;
    position: relative;
  }
  .info {
    text-align: center;
    margin: 10% auto;

    h3 {
      padding-top: 5px;
    }
  }

  .ranking {
    margin: 5% auto;
  }

  .badges {
    img {
      padding-left: 5px;

      &:first-child {
        padding-left: 0px;
      }
    }
  }

  .trend { 
    color: white;
  }
}


.show_player {
  .avatar {
    line-height: 80px;
  }

  .name {
    h1 {
      line-height: 50px;
    }

    a {
      font-size: 17px;
      line-height: 30px;
    }

    margin-left: 2%;
  }


  .nav-tabs {
    margin-top: 20px;
  }

}


