<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fixer"> 
				<%= link_to I18n.t('brand.title'), root_url, :class => 'latter brand' %>

				<%= player_navigation %>

				<div class="pull-right">
					<%= anonymous_navigation %>
				</div>
		</div>
	</div>
</div>
