  <ul class="nav pull-left">
    <li>
      <%= link_to I18n.t('navbar.links.home'), root_url %>      
    </li>
    
    <li>
      <%= link_to I18n.t('navbar.links.edit_account'), player_path(current_player) %>
    </li>

    <li>
      <%= link_to I18n.t('navbar.links.about'), page_path('rules') %>
    </li>
  </ul>




